@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    animation: gradientBG 15s ease infinite;
    background: linear-gradient(270deg, #06beb6, #48b1bf, #06beb6);
    background-size: 600% 600%;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.chat-message-text:hover {
    transform: scale(1.05);
}

.input-row-button:hover,
.side-panel-button:hover {
    filter: brightness(120%);
}


:root {
    --font-family: 'Roboto', sans-serif;
    --background-gradient-start: rgba(131,58,180,1);
    --background-gradient-middle: rgba(253,29,29,1);
    --background-gradient-end: rgba(252,176,69,1);
    --text-color: #fff;
    --chat-background: rgba(255, 255, 255, 0.2);
    --chat-input-background: rgba(255, 255, 255, 0.5);
    --button-background: rgba(131,58,180,0.8);
    --button-hover-background: rgba(131,58,180,1);
}

body {
    font-family: var(--font-family);
    text-align: center;
    padding-bottom: 40px;
    background: linear-gradient(90deg, var(--background-gradient-start) 0%, var(--background-gradient-middle) 50%, var(--background-gradient-end) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: Gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chat-message-text.khoj, .chat-message-text.you {
    background: var(--chat-background);
    color: var(--text-color);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#chat-input, .input-row-button, .side-panel-button {
    background: var(--chat-input-background);
    color: var(--text-color);
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.input-row-button:hover, .side-panel-button:hover {
    background: var(--button-hover-background);
}

.input-row-button {
    transition: background-color 0.3s;
}

#chat-body {
    border: none;
}

#send-button-img, #stop-send-button-img, #upload-file-button-img, #speak-button-img, #stop-record-button-img {
    filter: brightness(0) invert(1);
}

.conversation-button, .question-starter, .reference-button, .reference-expand-button {
    background: var(--button-background);
    color: var(--text-color);
    border: 1px solid transparent;
}

.conversation-button:hover, .question-starter:hover, .reference-button:hover, .reference-expand-button:hover {
    background: var(--button-hover-background);
}

